<h1>Create Student</h1>
<label>Update Student</label>
<label>Student Name</label>
<%= text_field_tag :name, @student.name %>

<label>Student Hometown</label>
<%= text_field_tag :hometown, @student.hometown %>

<label>Student Birthday</label>
<%= date_field_tag :birthday, @student.birthday %>

<%= submit_tag "Submit Student" %>
